:root {
    --main-font-color: #D0D0D0;
    --main-background-color: #171718;
    --second-background-color: #444547;
    --third-background-color: #151517;
}

html {
    padding: 0px 5vw;
}

body, .projects {
    background: var(--main-background-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.projects.header {
    height: 100%;
    display: flex;
    background: none;
    padding: 25px 0px;
    align-items: center;
}

.projects.header .projects.title {
    margin: 0 15px 0 0;
    display: inline-flex;
    color: var(--main-font-color);
}

.projects.button {
    border: none;
    height: 25px;
    width: 45px;
    font-size: 30px;
    font-weight: 500;
    line-height: .75rem;
    color: var(--main-font-color);
    background: var(--second-background-color);
}

.projects.create-project-modal {
    top: 0;
    display: flex;
    background: none;
    flex-direction: column;
    color: var(--main-font-color);
}

.projects.create-project-modal div {
    border: none;
    background: #202122 !important;
}

.projects.create-project-modal.content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.projects.create-project-modal.input-wrapper {
    width: 85%;
    margin: 15px 5px;
}

.projects.create-project-modal.inputs {
    margin: 5px 0px;
    border-radius: 2px;
    padding: 2.5px 5px;
    color: var(--main-font-color);
    background: var(--main-background-color);
    border: 1px solid var(--second-background-color);
}

.projects.list-selector {
    overflow: hidden;
    border-radius: 5px;
    display: inline-flex;
    margin-bottom: 15px;
}

.projects.list-selector Button {
    border-radius: 0 !important;
}


.projects .list-items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .25rem;
    align-items: flex-start;
}

.projects .list-item.card {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    background: none !important;
    color: var(--main-font-color) !important;
}

.projects .project-type-wrapper {
    height: 150px;
    font-size: 40px;
    min-width: 175px;
    position: relative;
    align-items: center;
    display: inline-flex;
    transition: 0.1s ease;
    flex-direction: column;
    justify-content: center;
    color: var(--main-font-color);
    background: var(--third-background-color);
    border: 1px solid var(--second-background-color);

}

.projects .list-item.project-type-wrapper:hover {
    color: #FDFEFF;
    background: #2745F1;
    transition: 0.1s ease;
    border: 1px solid #2745F1;
}

.projects .list-item.project-settings {
    top: 5px;
    right: 5px;
    font-size: 18px;
    color: #FDFEFF;
    position: absolute;
    display: inline-flex;
}

.projects .beta-mark {
    top: -1px;
    left: -1px;
    width: 50px;
    font-size: 14px;
    color: #795605;
    font-weight: bold;
    position: absolute;
    display: inline-flex;
    background: #F1D943;
    justify-content: center;
    border-bottom-right-radius: 5px;
}

.projects .list-item.project-logo {
    font-size: 50px;
    margin: 5px;
}

.projects .list-item.project-type {
    font-size: 15px;
}

.projects .list-item.popup-menu {
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    background: var(--third-background-color);
}

.projects .list-item.popup-menu Button {
    border-radius: 0 !important;
    color: var(--main-font-color);
}

.projects .list-item.popup-menu Button:hover {
    background: var(--second-background-color);
}